@import './../../../styles.scss';
section {
    @include center-flex($align-items: baseline);
    @include column();
    position: relative;
}

.right-side {
    @include center-flex();
    @include column();
    a,
    span {
        white-space: nowrap;
    }
    input,
    textarea {
        border: var(--second-main-color) solid 2px;
        border-radius: 10px;
        background-color: var(--main-background-color);
        margin: 5px;
        width: 100%;
    }
    input:hover,
    textarea:hover {
        border: var(--hover-color) solid 2px !important;
    }
    input:focus,
    textarea:focus {
        outline: none;
        border: var(--hover-color) solid 2px !important;
    }
    textarea {
        height: 200px;
    }
    button {
        width: 193px;
        height: 28px;
        border-radius: 10px;
        border: 0px;
        margin: 24px;
    }
    #agreeCheckbox {
        border: var(--color-text)
    }
}

.data-agreement-section {
    @include center-flex();
}

.custom-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    top: -13px;
    left: -5px;
}

.custom-checkbox .checkmark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--main-background-color);
    border: 2px solid var(--color-text);
    border-radius: 5px;
    position: relative;
    margin: 5px;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: var(--main-background-color);
    border-color: var(--color-text);
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--hover-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.header {
    @include center-flex();
}

.all-text-area {
    gap: 20%
}

.contact-me {
    font-weight: bold;
}

textarea:focus,
.input:focus {
    border: var(--hover-color) solid 2px !important;
}

.background-img {
    position: absolute;
    top: 0;
    right: -252px;
}

@media(max-width:1050px) {
    .all-text-area {
        gap: 6%
    }
}

@media(max-width:950px) {
    .all-text-area {
        gap: 6%
    }
    .right-side {
        width: 42%;
    }
    .data-agreement-section {
        font-size: 9px;
    }
}

@media(max-width:700px) {
    .all-text-area {
        gap: 20px;
    }
    .all-text-area {
        flex-direction: column;
        align-items: center;
    }
    p {
        @include padding-right();
        display: flex;
    }
    .right-side {
        width: calc(100vw - 100px) !important;
        @include padding-left();
    }
    #agreeCheckbox {
        top: 0px;
        left: 0px;
    }
    .data-agreement-section {
        font-size: 14px;
    }
}