<section id="contact">
    <div class="header">
        <div class="horizontal-line"></div>
        <h1 class="section-heading ">Contact</h1>
    </div>

    <div class="d-flex">
        <div class="text-padding-left ">
            <h2>Got a problem to solve?</h2>
            <span>
                Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
            </span>
            <div>
                <span>
                Need a Frontend developer? 
                </span>
                <span>
                    Contact me!
                </span>
            </div>
        </div>


        <div class="right-side text-padding-right " data-aos="fade-left">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your e-mail">
            <textarea placeholder="Your Text"></textarea>
            <div class="data-agreement-section">
                <label class="custom-checkbox">
                    <input type="checkbox" id="agreeCheckbox">
                    <span class="checkmark"></span>
                </label>

                <span> I've read the </span>
                <a href="">privacy policy</a>
                <span>and agree to the processing of my data as outlined.</span>
            </div>
            <button>Send message</button>

        </div>

    </div>
</section>