@import './../../../styles.scss';
section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .dialog {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 20px;
        gap: 16px;
        height: 80%;
        width: 50%;
        background-color: var(--main-background-color);
        z-index: 1031;
        h1 {
            font-size: 70px;
        }
        img {
            width: 300px;
            height: 200px;
            border-radius: 20px;
        }
    }
}

@media(max-width:700px) {
    section {
        .dialog {
            height: 90%;
            width: 90%;
            h1 {
                font-size: 48px;
            }
        }
    }
}