<section>
    <div class="initials-container text-padding-left">
        <span class="emphasis">&#10094;</span>
        <span class="initials">S</span>
        <span class="initials">B</span>
        <span class="emphasis">&#10095;</span>
    </div>


    <div class="navbar text-padding-right">
        <a href="#about-me">About me</a>
        <a href="#my-skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <span (click)=" switchTranslate()">de</span>
        <span (click)="translateService.translateTorgle()">en</span>
    </div>
</section>