@import './../../styles.scss';
section {
    height: 150px;
    background-color: var(--main-background-color);
    overflow: hidden;
}

.main-text {
    max-width: 1150px;
    @include center-flex($justify-content: space-between, $align-items: center);
    height: 150px;
    width: 100%;
}

.icon {
    &:hover {
        opacity: 0.5;
    }
}

.impressum {
    &:hover {
        color: var(--hover-color)
    }
}

.name {
    @include column();
}

.horizontal-line {
    width: 100%;
    justify-content: center;
    display: flex;
}

.initials-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #4A4A8E;
    text-align: center;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .full-name {
        display: none;
    }
}