<section>
    <div class="horizontal-line">
        <div class=" main-text">
            <div class="name text-padding-left">
                <span>Swen</span>
                <span>Impressum</span>
            </div>

            <div>© Swen Breitung 2024</div>

            <div class="text-padding-right">
                <img src="./../../assets/icons/Email button.svg" alt="">
                <img src="./../../assets/icons/Github button.svg" alt="">
                <img src="./../../assets/icons/Linkedin button.svg" alt="">
            </div>
        </div>
    </div>
</section>