button {
    position: relative;
    z-index: 999;
    border: none;
    border-radius: 10px;
    background-color: var(--hover-color);
    height: 50px;
    width: 100px;
    color: var( --main-text-color);
}

button:hover {
    background-color: var(--second-main-color);
}