<section class="z-index10">
    <div class="contact-info">
        <div class="horizontal-line"></div>
        <div class="d-flex icon-bar">
            <a href="mailto:swenbreitung86@gmail.com">
                <img class="curser-pointer icon" src="./assets/icons/Email_button.svg" alt="">
            </a>
            <a href="https://github.com/SwenBreitung" target="_blank">
                <img class="curser-pointer icon" src="./../../../assets/skills-icons/github_button.svg" alt="">
            </a>
            <a href="https://linkedin.com/in/swen-breitung-323841296" target="_blank">
                <img class="curser-pointer icon" src="./assets/icons/linkIn.svg" alt="">
            </a>
        </div>
        <a href="mailto:swenbreitung86@gmail.com" class="email curser-pointer">SwenBreitung86&#64;hotmail.de</a>
    </div>

    <div class="vertical-container text-padding-right">
        <div class="vertical-text">Scroll down</div>
        <div class="arrow">↓</div>
    </div>


</section>