<section class="z-index10 d-flex" id="about-me">
    <div class="text-padding-left ">
        <h1>About Me</h1>
        <span>
            Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
        </span>
        <div class="info-box">
            <img src="./../../../assets/icons/bulb desktop.svg" alt="">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>
        <div class="info-box">
            <img src="./../../../assets/icons/puzzle desktop.svg" alt="">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>
    </div>

    <div class="profile-container d-flex">
        <div class="profile-bakcground-img">
            <img src="./../../../assets/profiel-img/Second-dummy profiele.png" alt="">
        </div>
        <div class="horizontal-line"></div>
    </div>
    <div class="background-style-img"></div>
</section>