@import './../../../styles.scss';
section {
    @include center-flex();
    position: relative;
    // padding: 24px;
}

.about-me-info {
    justify-content: space-between;
    width: 100%;
}

.about-me-text {
    max-width: 800px;
}

.info-box {
    @include center-flex();
    padding-top: 30px;
    span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    .img-container {
        width: 100px;
        height: 100px;
        img {
            width: 100px;
            padding: 20px
        }
    }
}

.profile-background-img {
    @include center-flex();
    border: green solid 1px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    img {
        border-radius: 50%;
        object-fit: cover;
        width: 280px;
        height: 280px;
    }
}

.profile-container {
    @include center-flex();
}

.background-style-img {
    background-image: url(./../../../assets/brackground-img/purple_shadow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 23px;
    right: 0px;
    bottom: 278px;
    height: 267px;
    width: 122.59px;
}

.section-heading {
    width: 100%;
}

#about-me {
    @include column();
}

@media (max-width:700px) {
    .about-me-info {
        justify-content: center;
    }
    .profile-container {
        display: none;
    }
    span,
    .info-box {
        display: flex;
        flex-direction: column;
        span {
            text-align: center;
        }
    }
    .info-box {
        padding-right: 50px;
    }
    .hero-text {
        padding-right: 50px;
    }
    .section-heading {
        display: flex;
        justify-content: center;
        padding-right: 50px;
    }
    .hero-text {
        text-align: center;
    }
}

.info-box,
.hero-text {
    max-width: 500px;
}

@media(max-width:450px) {
    .info-box,
    .hero-text {
        width: 320px;
    }
    .section-heading {
        font-size: 48px;
    }
}