<section class="z-index10" id="portfolio">
    <div>
        <div style="width: 30%;"></div>
        <div class="header">
            <div class="horizontal-line little-line"></div>
            <h1>Portfolio</h1>
            <div class="horizontal-line"></div>
        </div>
        <div>
            <span>
                This page is a sample of my work - please feel free to try them out.
            </span>
        </div>
    </div>
</section>

<section class="skill-overlay">
    <div class="skill-container">
        <div>

            <app-info-text>Join</app-info-text>
            <div class="d-flex gap">
                <app-button-left></app-button-left>
                <a href="https://github.com/SwenBreitung/join" target="_blank" rel="noopener noreferrer">
                    <app-button-right></app-button-right>
                </a>
            </div>
        </div>
        <app-img class="bg-img-join img"><img src="./../../assets/brackground-img/join-img.png" alt=""></app-img>
    </div>

    <div class="skill-container">
        <app-img class="bg-img-poloco img"><img src="./../../../assets/brackground-img/Pictures (PC mock up).svg" alt=""></app-img>
        <div>
            <app-info-text>EllPolloloco</app-info-text>
            <div class="d-flex gap">
                <app-button-left></app-button-left>
                <a href="https://github.com/SwenBreitung/EllPolloloco" target="_blank" rel="noopener noreferrer">
                    <app-button-right></app-button-right>
                </a>
            </div>
        </div>
    </div>
    <!-- 
    <div class="skill-container">
        <div>
            <app-info-text>hallo</app-info-text>
            <div class="d-flex gap">
                <app-button-left></app-button-left>
                <app-button-right></app-button-right>
            </div>
        </div>
        <app-img class="bg-img-dummy img"><img src="./../../assets/brackground-img/join-img.png" alt=""></app-img>
    </div> -->
</section>