@import './../../../styles.scss';
section {
    @include center-flex();
}

#portfolio {
    padding-top: 150px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header-all-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header {
    width: 100%;
    @include center-flex($justify-content: flex-end);
    h1 {
        padding: 0 20px;
        margin: 0;
    }
}

.little-line {
    width: 150px !important;
}

.long-line {
    width: 38vw !important;
}

.bg-img-join {}

.bg-img-poloco {}

.bg-img-dummy {}

.img {
    display: flex;
    width: 500px;
    height: 351px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.skill-overlay {
    @include column();
}

.skill-container {
    @include center-flex();
    width: 100%;
}

@keyframes rotateRight {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.rotate-right-animation {
    animation: rotateRight 0.5s ease-in-out;
}