@import './../../styles.scss';
.impressum-container {
    padding-top: 56px;
    padding-left: 24px;
    padding-right: 24px;
    height: 76vh;
}

a {
    color: var(--second-main-color);
    text-decoration: none;
}