@import './../../../styles.scss';
button {
    position: relative;
    z-index: 999;
    @include center-flex();
    border-radius: 10px;
    background-color: var(--second-main-color);
    color: var( --main-text-color);
    width: 80px;
    height: 60px;
    border: 0;
    text-decoration: none;
    box-shadow: 0 0 5px var(--second-main-color);
    font-family: 'Times New Roman', sans-serif;
    &:hover {
        background-color: var(--hover-color);
        box-shadow: 0 0 5px var(--hover-color);
    }
}