@import './../../../styles.scss';
section {
    padding-top: 150px;
    position: relative;
    gap: 15%;
    img {
        height: 50px;
        width: 50px;
    }
    @include center-flex;
}

.container-img {
    @include center-flex;
    @include column();
    padding: 22px 22px 22px 0;
    justify-content: flex-start;
}

.dubble-text {
    @include center-flex;
    @include column();
}

.header {
    font-size: 70px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.left-container {
    max-width: 700px;
    gap: 8px;
}

.background-img {
    background-image: url(./../../../assets/brackground-img/green_shadow_mySkills.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 112px;
    left: 0px;
    right: 24px;
    bottom: 278px;
    height: 438px;
    width: 141.59px;
}

.flex-center {
    @include center-flex;
    h1 {
        white-space: nowrap;
        padding-right: 20px;
        margin: 0;
    }
}

.right-container {
    position: relative;
    gap: 42px;
    @include column();
    @include center-flex;
}

.main-button {
    display: flex;
}

.responsiv-button {
    display: none;
}

@keyframes switchLogo {
    0%,
    100% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.container-img:hover {
    img {
        transform: scale(1.1);
        animation: switchLogo 2s infinite;
        transform-style: preserve-3d;
    }
}

@media(max-width:1050px) {
    section {
        img {
            height: 50px;
            width: 50px;
        }
    }
}

@media(max-width:950px) {
    section {
        gap: 5%;
        img {
            height: 50px;
            width: 50px;
        }
    }
    .container-img {
        padding: 10px 10px 10px 0;
    }
}

@media(max-width:800px) {
    section {
        gap: 5%;
    }
    .container-img {
        padding: 5px 5px 5px 0;
    }
}

@media (max-width:700px) {
    .container-img {
        img {
            height: 70px;
            width: 70px;
        }
    }
    .left-container {
        padding: 16px;
        display: flex;
        justify-content: center;
    }
    .main-button {
        display: none;
    }
    .responsiv-button {
        display: flex;
    }
    #my-skills {
        flex-direction: column;
        @include column($column: column-reverse);
    }
    app-button {
        padding-top: 20px;
    }
    .right-container {
        @include padding-left();
    }
    span {
        display: flex;
        text-align: center;
        max-width: 470px
    }
}

@media(max-width:500px) {
    .container-img {
        img {
            height: 48px;
            width: 48px;
        }
    }
}