<section class="z-index10" id="my-skills">
    <div class="d-flex text-padding-left">
        <div class="container-img">
            <img src="./../../../assets/icons/Angular.svg" alt="">
            <div>Angular</div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/Api.svg" alt="">
            <div>API</div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/Firebase.svg" alt="">
            <div>Firebase</div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/git.svg" alt="">
            <div>Git</div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/Group.svg" alt="">
            <div class="dubble-text">
                <span>Material</span>
                <span>Design</span>
            </div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/html.svg" alt="">
            <div>HTML</div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/scrum.svg" alt="">
            <div>Scrum</div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/Vector(4).svg" alt="">
            <div>
                <span>TypeScript</span>
            </div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/Vector(5).svg" alt="">
            <div>CSS</div>
        </div>
        <div class="container-img">
            <img src="./../../../assets/icons/Javascript.svg" alt="">
            <div>JavaScript</div>
        </div>
    </div>
    <div class="right-container ">
        <div>
            <div class="flex-center header">
                <h1>My Skills</h1>
                <div class="horizontal-line"></div>
            </div>
            <span>
                I have grown my frontend developments skills that have allowed me to create different real projects.
            </span>
        </div>
        <app-button style="">Get in touch</app-button>
    </div>
    <div class="background-img"></div>
</section>