<section class="z-index10" style="margin-top:80px;">

    <div class="hero-section" style="position: relative;">
        <div class="hero-img">
            <img class="img-hero" src="./../../../assets/profiel-img/Swen_Portraitbilder.png" alt="">

        </div>
        <div class="hero-text">
            <div class="d-flex">
                <span class="vertical-text"> 
                I am
            </span>
                <div class="hero-second-text">
                    <span class="hero-name">Swen Breitung </span>
                    <span class="second-text">FRONTEND DEVELOPER</span>

                </div>

            </div>
            <a href="#contact" class="padding15px curser-pointer z-index10">
                <app-button style="padding:20px;" class="curser-pointer">Let´s talk</app-button>
            </a>

        </div>
    </div>
    <div>
        <img class="background-img" src="./assets/brackground-img/bg_hero_section.svg" alt="">
    </div>
</section>