<section class="z-index10" style="margin-top:50px;">

    <div class="hero-section" style="position: relative;">
        <div class="hero-img">
            <img class="img-hero" src="./../../../assets/brackground-img/hero-dummy.png" alt="">

        </div>
        <div class="hero-text">
            <div class="d-flex">
                <span class="vertical-text"> 
                I am
            </span>
                <div class="hero-second-text">
                    <span class="hero-name">Swen Breitung </span>
                    <span class="second-text">FRONTEND DEVELOPER</span>

                </div>

            </div>
            <a href="#contact">
                <app-button style="padding:20px;">Let´s talk</app-button>
            </a>

        </div>
    </div>
    <div>
        <img class="background-img" src="./../../../assets/brackground-img/bg-hero-section.svg" alt="">
    </div>
</section>