<section class="z-index10" style="margin-top:80px;">

    <div class="hero-section" style="position: relative;">
        <div class="hero-img">
            <img class="img-hero" src="./../../../assets/profiel-img/Swen_Portraitbilder_11zon.png" alt="">

        </div>
        <div class="hero-text">
            <div class="d-flex">
                <span class="vertical-text"> 
                I am
            </span>
                <div class="hero-second-text typewriter">
                    <span class="hero-name typewriter-text">Swen Breitung </span>
                    <span class="second-text typewriter-text">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <a (click)="layoutService.scrollToSection('contact-me')" class="padding15px curser-pointer z-index10">
                <app-animatet-button text="Let´s talk"></app-animatet-button>
            </a>

        </div>
    </div>
    <div>
        <img class="background-img" src="./assets/brackground-img/bg_hero_section.png" alt="">
    </div>
</section>